

#particles-js {
    position: fixed; /* changed to fixed */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.article {
    position: relative; /* Makes sure your content stays on top */
    z-index: 1;
    color: #FAFAFA; /* White text for better visibility on a dark background */
}

body {
    font-family: Arial, sans-serif;
    background-color: #020838;
    color: #f0f0f0; /* Base light color for the dark background */
    margin: 0;
    padding: 0;
}
.timeline-text li {
    line-height: 1.6;  /* Adjust this value to your preference; a higher value means more spacing */
}

.article-title {
    text-align: center;
    padding: 20px 0;
    background-color: rgba(37, 36, 36, 0.5);  /* Darker background for the title */
    color: rgb(4, 181, 181); /* Cyan color for the title */
}
/* Cyan Glow */
.glow-cyan {
    color:rgba(0, 255, 119, 0.838);
}

.timeline {
    background-color: rgba(37, 36, 36, 0.8); 
    padding: 20px;
    margin: 20px;
    border-radius: 4px;
}

.title-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.icon-box {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #303030; /* Slightly lighter than the background for contrast */
}

.timeline-list {
    list-style-type: none;
    padding-left: 0;
}

.timeline-item {
    /* padding: 10px; */
    border-bottom: 1px solid #5b5a5a; /* Light border for separation */
    margin-bottom: 20px;
}

.timeline-item-title {
    margin-top: 0;
}

.timeline-text {
    margin: 10px 0;
    color: #aaa; /* Slightly dimmed text for readability */
}

.timeline-text-title {
    font-weight: bold;
    color: #ddd;
}


.timeline-item {
    position: relative; 
    padding-left: 60px; /* Adjust depending on your design, so that the content does not overlap the line */
}

.center-container {
    display: flex;
    justify-content: center;  /* centers children horizontally */
    align-items: center;      /* centers children vertically */
    height: 100vh;            /* sets the container to the full height of the viewport */
    margin: 0;                /* removes any default margin */
}

a {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}
